/*  Carousel */

.carousel-item {
  height: 65vh;
  min-height: 300px;

  .car-img {
    height: 100%;
    width: 100%;
  }
}

/* Newsletter */
.newsletter {
  padding: 40px 0;
  background: #f2f2f2;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.newsletter .content h4 {
  color: #5cb85c;
  margin-bottom: 40px;
}

.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #5cb85c;
}

.newsletter .content .btn {
  min-height: 50px;
  border-radius: 0;
  background: #5cb85c;
  color: #fff;
  font-weight: 600;
}

// Popular Categories
.card {
  color: black;

  .card-body {
    background-color: whitesmoke;
  }

  .card-body:hover {
    color: black;
    background-color: #5cb85c;

    .card-title,
    .card-text {
      color: white;
      text-decoration: none;
    }
  }
}

// Upcoming Events
.m-upcoming-event {
  .nav-link {
    color: black;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #5cb85c !important;
  }

  .tab-content a {
    text-decoration: none;
    color: black;
  }

  .tab-content a:hover {
    color: #5cb85c;
  }
}
